In [20]:
import numpy as np
import pandas as pd
from sklearn import linear_model

dataset = pd.read_csv("D:/Python/HeThongThoiGianThuc/BasicML/house-prices.csv")
dataset = dataset.replace("East", 0)
dataset = dataset.replace("West", 1)
dataset = dataset.replace("North", 2)

dataset = dataset.replace("No", 0)
dataset = dataset.replace("Yes", 1)
dataset.head()

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers  Brick  Neighborhood
0     1  114300  1790         2          2       2      0             0
1     2  114200  2030         4          2       3      0             0
2     3  114800  1740         3          2       1      0             0
3     4   94700  1980         3          2       3      0             0
4     5  119800  2130         3          3       3      0             0

In [63]:
sqft = np.array([dataset["SqFt"].tolist()]).T
badrooms = np.array([dataset["Bedrooms"].tolist()]).T
bathrooms = np.array([dataset["Bathrooms"].tolist()]).T
offers = np.array([dataset["Offers"].tolist()]).T
brick = np.array([dataset["Brick"].tolist()]).T
neighborhood = np.array([dataset["Neighborhood"].tolist()]).T
prices = np.array(dataset["Price"].tolist())

Y = np.array(prices)
X = np.concatenate((sqft, badrooms, bathrooms, offers, brick, neighborhood), axis=1)

m = 120
x_train, x_test = X[:m,:], X[m:,:]
y_train, y_test = Y[:m], Y[m:]
y_train = y_train.reshape(-1,1)

In [61]:
linear = linear_model.LinearRegression()
linear.fit(x_train, y_train)
predic = linear.predict(x_test)
print(predic.reshape(1,-1)[0].astype(int))
print(y_test)

[114696 117588 149146 134091 159798 125336 152076 131340]
[110400 105600 144800 119700 147900 113500 149900 124600]